*{margin: 0;padding: 0;}


.banner{width:500px;height: auto;margin:50px auto 0 auto;overflow:hidden;position: relative;}
ul{width:1500px;height: auto;overflow: hidden;transition: 1s}
li{width: 500px;height: auto;float: left;list-style:none;}
li img{width: 100%;height: auto;display: block;}


.btn{width: 300px;height: 30px;position: absolute;left: 100px;bottom:0;overflow: hidden;}
.btn span{float: left;width: 50px;height: 30px;background: yellowgreen;margin-left: 35px;text-align:center;line-height:30px;cursor: pointer;}
.left{position: absolute;left: 0;top:0;color: #fff;cursor: pointer;}
.right{position: absolute;right: 0;top:0;color: #fff;cursor: pointer;}
.btn .active{background: cornflowerblue}






